.header__sort {
  cursor: pointer;

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.table__tr--sum {
  background-color: rgb(200, 200, 200);
}

.input-group {
  select {
    cursor: pointer;
  }
}
