.header__sort {
  cursor: pointer;

  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.table__tr--sum {
  background-color: rgb(200, 200, 200);
}

.input-group {
  select {
    cursor: pointer;
  }
}

.search__group {
  display: flex;
  flex-direction: row;
}

.search__container {
  flex-grow: 1;
  padding: 0;
}

.search__input {
  width: 100%;
  flex-grow: 1;
  height: 2.6rem;
}

#toast-container > div {
  opacity: 1;
}

.pagination__bottom {
  position: relative;
  left: -32px;
}

.pagination__top {
  position: relative;
  left: -32px;
}
