.monospace {
  font-family: "Ubuntu Mono", monospace;
}

.error-message {
  font-size: 0.75rem !important;
  font-style: italic !important;
}

input,
textarea,
select {
  background-color: rgb(247, 247, 247) !important;

  &:focus {
    border-color: rgb(51, 51, 51) !important;
    transition: border-color 0.5s ease;
  }

  &[type="checkbox"] {
    &:checked {
      background-color: rgb(226, 46, 109) !important;

      &:focus {
        border: none !important;
      }
    }
  }
}
